<a href="javascript:void(0);" mat-raised-button class="backBtn" routerLink="/dashboard">Back</a>
<div class="main">
  <h3>
    Welcome to login page !!!
  </h3>
</div>
 <div class="center">
   <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput  placeholder="Enter Username" formControlName="userName" required>
    </mat-form-field><br/>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter Password" [type]="hide ? 'password' : 'text'" formControlName="pswd" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="submitted && f.pswd.errors && f.pswd.touched" class="invalid-feedback">
            <mat-error *ngIf="f.pswd.errors.required">Password is required</mat-error>
            <mat-error *ngIf="f.pswd.errors.minlength">Password must be at least 6 characters</mat-error>
        </mat-error>
    </mat-form-field><br/>
    <p class="loginBtn">
      <button mat-button type="submit" [disabled]="!loginForm.valid" color="primary" >Login</button>
    </p>
   </form>
</div>
