body{
    margin: 0 auto;
}
.main{
    margin: 10px;
    text-align: center;
}
div{
    margin-left: 40px ;
    margin-top: 10% ;
}
mat-form-field{
    width: 50%;
}
.loginBtn{
    /*margin-left: 20%;*/
    text-align: center;
}
.center{
    text-align: center;
}
.backBtn{
    /*margin-left: 20px;
    margin-top: 50px ;*/
    margin-top: 30px ;
    float: right;
    margin-right: 10px;
}
.example-comp {
     color: hotpink;
}