body{
    margin: 0 auto;
}
.main{
    margin: 10px;
    text-align: center;
}
.backBtn{
    /*margin-left: 20px;*/
    margin-top: 30px ;
    float: right;
    margin-right: 10px;
}
.btn{
    float: right;
}

mat-form-field{
    width: 50%;
}
.loginBtn{
    /*margin-left: 20%;*/
    text-align: center;
}
.center{
    text-align: center;
}